/* FONT PATH
 * -------------------------- */
@font-face {
  font-family: 'Josefin Sans Thin';
  font-style: normal;
  font-weight: 100;
  src: local('Josefin Sans Thin'), local('JosefinSans-Thin'), url(https://fonts.gstatic.com/s/josefinsans/v9/q9w3H4aeBxj0hZ8Osfi3d2zxT2LH-6DLCLvdjNYkN88.woff2) format('woff2'), url('../fonts/Josefin_Sans/JosefinSans-Thin.ttf') ;
}
/*
  /*src: */
@font-face {
  font-family: 'Josefin Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Josefin Sans'), local('JosefinSans'), url(https://fonts.gstatic.com/s/josefinsans/v9/xgzbb53t8j-Mo-vYa23n5iYtBUPDK3WL7KRKS_3q7OE.woff2) format('woff2');
}
*/
/*
@font-face {
  font-family: 'JosefinSans';
  src: url('../fonts/fontawesome-webfont.eot?v=4.1.0');
  src: url('../fonts/fontawesome-webfont.eot?#iefix&v=4.1.0') format('embedded-opentype'), url('../fonts/fontawesome-webfont.woff?v=4.1.0') format('woff'), url('../fonts/fontawesome-webfont.ttf?v=4.1.0') format('truetype'), url('../fonts/fontawesome-webfont.svg?v=4.1.0#fontawesomeregular') format('svg');
  font-weight: normal;
  font-style: normal; }
*/
html, body {
  height: 100%;
  background: #f2f2f2;
}
h1 {
    font-weight: 100;
    font-family: 'Josefin Sans Thin', sansserif; 
    font-size: 3rem;
}

/* main header with nav and site title */
#main-header h1 {
  position: absolute;
  left: 1rem;
  top: 1rem;

}

.sub-title {
  position: absolute;
  left: 1rem;
  top: 4rem;

}
/* nav in header */
.menu-icon {
  display: none;
}

@media (max-width:56rem) {
  nav .horizontal-nav-list {
    display: none;
  }
  nav:hover .horizontal-nav-list {
    display: block;
    padding-right: 2rem;
  }
  nav:hover .horizontal-nav-list li {
    display: block;
    float: unset;
  }
  .menu-icon {
    display: block;
    float: right;
    padding: 2rem;
  }
  #main-header .horizontal-nav {
    float: right;
    position: unset;
    background: inherit;

  }
}


/* Tags */
ul.tags {
  padding-left: 0;
  font-size: .7rem;
  font-style: italic;
}
  ul.tags::before {
    content: "Tags: ";
  }
    
  li.tag {
    display: inline-block;
  }

/* Dates */
  .post-date {
    font-size: .7rem;
  }
  .post-date::before {
    content: "Published: ";
  }

/* Table of Contents */
  #TableOfContents::before {
    content: "Contents";
  }
  #TableOfContents>ul {
    list-style: none;
  }
  @media (min-width:56rem) {
  #TOC-Zone {
    position: -webkit-sticky;
    position: sticky;
    top: 10px;
    height: 0px;
    width: 1rem;
    width: min-content;
    width: fit-content;

  }
  #TableOfContents {
    position: relative;
    left: -8rem;
  }
}

#content-container {
  /*max-width: 60rem;*/
  max-width: 80%;
  padding: 2rem;
}

/* posts */
.posts {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
}

/* post previews */
.post-preview {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  height: unset;
  padding-right: 1rem;
}

.post-preview .post-symbol {
  min-width: 150px;
  min-height: 150px;
}

.post-preview .post-content {
  /*padding-left: 3rem;*/
  display: inline-block;
  position: relative;
  height: 100%;
  left: 1rem;
  top: 0;

}

/* the post */
.post-content p {
  padding-top: .5rem;
}

.post-content  img {
  width: 100%;
}

/* Quotes */
blockquote {
  background: rgba(200,200,200,.1);
  border-left: 10px solid #ccc;
  margin: 1.5em;
  padding: 0.5em;
  quotes: "\201C""\201D""\2018""\2019";

}
blockquote:before {
  color: #ccc;
  content: open-quote;
  font-size: 4em;
  line-height: 0.1em;
  margin-right: 0.25em;
  vertical-align: -0.4em;
}
blockquote:after {
  color: #ccc;
  content: close-quote;
  font-size: 4em;
  /*line-height: 0.1em;*/
  margin-right: 0.25em;
  vertical-align: -1em;
}

section {
  /*display: block-inline;*/
  /*width: 28rem;*/
  max-width: 60%;
  min-width: 25rem;
}

a {
  text-decoration: none;
  color: rgb(66,66,166); //decided by listening to Jezabels - Pleasure Drive

}




