<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>

    {% include header.html %}

    <div class="page-content">
      <div class="wrapper">
        {{ content }}
      </div>
      <div class="wrapper related" >
        <h1>Related</h1>
        {% for tag in page.tags %}
        <h2>Items tagged with {{ tag | capitalize }}</h2>
        <ul>
          {% for page in site.tags[tag] %}
          <li>
          <a href="{{ page.url }}" >{{ page.title }}</a>
          </li>
          {% endfor %}
        </ul>
        {% endfor %}
      </div>
    </div>

    {% include footer.html %}
      <div class="wrapper license" >
        {% include cc-license.html %}
      </div>

  </body>

</html>
